/* MainSection3 */

.mainSection3 {
    max-width: var(--site-container);
    margin: 0 auto;
    margin-top: 6rem;
   

    display: flex;
    
    flex-direction: column;
 
    justify-content: center;
 
    align-items: center;
}


@media (min-width:1200px) {
    .mainSection3 {
     
        flex-direction: row;
      
        justify-content: space-between;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }

    .mainSection3::before {
        display: block;
        content: "";
        position: absolute;
        top: 124px;
        right: -165px;
        width: 100%;
        height: 595px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwNiIgaGVpZ2h0PSI1OTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI5NyAwaDQxMmMxNjQuMDI5IDAgMjk3IDEzMi45NzEgMjk3IDI5N1M4NzMuMDI5IDU5NCA3MDkgNTk0SDBWMjk3QzAgMTMyLjk3MSAxMzIuOTcxIDAgMjk3IDB6IiBmaWxsPSIjRjFGM0Y1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii41MDIiLz48L3N2Zz4=);
        background-repeat: no-repeat;
      
        transform: rotate(180deg);
        z-index: -5;
    }
}




.mainSection3-Article {
   
    display: flex;
   
    flex-direction: column;
   
    justify-content: center;
   
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
    
    flex-basis: 31%;
    position: relative;
    text-align: center;
}


@media (min-width:670px) {
    .mainSection3-Article {
        
        flex-direction: row;
        text-align: left;
    }
}


@media (min-width:1200px) {
    .mainSection3-Article {
        
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
}





.mainSection3-ArticleText h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}





.mainSection3-ArticleImage {
    position: relative;
}


.mainSection3-ArticleImage::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDIiIGhlaWdodD0iMjAyIj48ZGVmcz48bGluZWFyR3JhZGllbnQgaWQ9ImEiIHgxPSIwJSIgeDI9IjEwMCUiIHkxPSI1MCUiIHkyPSI1MCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1RDAyMDIiIHN0b3Atb3BhY2l0eT0iMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVEMDIwMiIgc3RvcC1vcGFjaXR5PSIuNDk4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PGNpcmNsZSBjeD0iMTAxIiBjeT0iMTAxIiByPSIxMDEiIGZpbGw9InVybCgjYSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgb3BhY2l0eT0iLjIwMyIgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgMjAyIDApIi8+PC9zdmc+);
    background-repeat: no-repeat;
    z-index: -1;
}


.mainSection3-ArticleImage img {
    margin-bottom: 3rem;
    height: 202px;
}


@media (min-width:670px) {
    .mainSection3-ArticleImage img {
        margin-bottom: 0;
        margin-right: 3rem;
    }
}


@media (min-width:1200px) {
    .mainSection3-ArticleImage img {
        margin-bottom: 3rem;
        margin-right: 0rem;
    }
}